.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.div {
  margin: 100;
  width:"35%";
  padding: 100
}


#total {
  width: 450px;
  height: "100%";
  padding: 50px;
  border: 1px; 
  background: rgba(0,0,0,0.6);
  border-radius: 15;
  margin: auto;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Title {
  font-stretch:semi-expanded;
  color:darkgreen;
  border: solid darkgreen;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
